@media (min-width: 768px) {
  .button-ep-block {
    display: none; } }

@media (max-width: 767px) {
  .dcheck {
    padding-bottom: 50px; }
  .wrap-ep-block {
    position: relative;
    padding-top: 40px;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff; }
    .wrap-ep-block.close {
      height: 50px;
      overflow: hidden; }
    .wrap-ep-block.open {
      height: 240px; }
      .wrap-ep-block.open .button-ep-block:after {
        -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left; }
    .wrap-ep-block .button-ep-block {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      left: 0px;
      right: 0px; }
      .wrap-ep-block .button-ep-block:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #0000ee;
        border-left: 1px solid #0000ee;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -8px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
    .wrap-ep-block .ep-block {
      position: static;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px; }
      .wrap-ep-block .ep-block + .ep-block {
        padding-top: 0px; }
      .wrap-ep-block .ep-block .ttas {
        display: block;
        font-size: 0px; }
        .wrap-ep-block .ep-block .ttas + .b-politics {
          margin-top: 10px; }
      .wrap-ep-block .ep-block .inpr {
        display: inline-block !important;
        vertical-align: middle;
        width: 25%;
        font-size: 14px; }
        .wrap-ep-block .ep-block .inpr .dashed-pr > * {
          display: inline-block; }
      .wrap-ep-block .ep-block .dr-bl {
        display: inline-block !important;
        vertical-align: middle;
        width: 70%;
        margin-left: 5%;
        font-size: 14px;
        text-align: left; }
      .wrap-ep-block .ep-block .ncv-bl {
        display: block;
        font-size: 14px;
        text-align: left;
        margin-top: 5px; }
        .wrap-ep-block .ep-block .ncv-bl .rcl-button {
          display: block;
          text-align: center; }
          .wrap-ep-block .ep-block .ncv-bl .rcl-button i {
            width: 18px;
            background-size: 18px auto;
            background-position: center;
            margin-right: 10px;
            margin-bottom: 0px; }
          .wrap-ep-block .ep-block .ncv-bl .rcl-button span {
            display: inline-block;
            vertical-align: middle; } }
