@mixin clearfix() {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
@media (min-width: 768px) {
  .button-ep-block {
    display: none;
  }
}
@media (max-width: 767px) {
  .dcheck {
    padding-bottom: 50px;
  }
  .wrap-ep-block {
    position: relative;
    padding-top: 40px;
    transition: height .5s;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    &.close {
      height: 50px;
      overflow: hidden;
    }
    &.open {
      height: 240px;
      .button-ep-block {
        &:after {
          transform: rotate(315deg);
          transform-origin: left;
        }
      }
    }
    .button-ep-block {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      left: 0px;
      right: 0px;
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid rgb(0, 0, 238);
        border-left: 1px solid rgb(0, 0, 238);
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -8px;
        transform: rotate(135deg);
        transform-origin: center;
        transition: transform .5s;
      }
    }
    .ep-block {
      position: static;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      & + .ep-block {
        padding-top: 0px;
      }
      .ttas {
        display: block;
        font-size: 0px;
        & + .b-politics {
          margin-top: 10px;
        }
      }
      .inpr {
        display: inline-block !important;
        vertical-align: middle;
        width: 25%;
        font-size: 14px;
        .dashed-pr {
          & > * {
            display: inline-block;
          }
        }
      }
      .dr-bl {
        display: inline-block !important;

        vertical-align: middle;
        width: 70%;
        margin-left: 5%;
        font-size: 14px;
        text-align: left;
      }
      .ncv-bl {
        display: block;
        font-size: 14px;
        text-align: left;
        margin-top: 5px;
        .rcl-button {
          display: block;
          text-align: center;
          i {
            width: 18px;
            background-size: 18px auto;
            background-position: center;
            margin-right: 10px;
            margin-bottom: 0px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
